@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* body */
body {
    font-family: "Open Sans", sans-serif;
}

/* Font */
.font-family-mont{
    font-family: "Montserrat", sans-serif;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-48 {
    font-size: 48px;
}

.fs-64 {
    font-size: 64px;
}

.font-thin {
    font-weight: 100;
}

.font-thin-italic {
    font-weight: 100;
    font-style: italic;
}

.font-extralight {
    font-weight: 200;
}

.font-extralight-italic {
    font-weight: 200;
    font-style: italic;
}

.font-light {
    font-weight: 300;
}

.font-light-italic {
    font-weight: 300;
    font-style: italic;
}

.font-regular {
    font-weight: 400;
}

.font-regular-italic {
    font-weight: 400;
    font-style: italic;
}

.font-medium {
    font-weight: 500;
}

.font-medium-italic {
    font-weight: 500;
    font-style: italic;
}

.font-semibold {
    font-weight: 600;
}

.font-semibold-italic {
    font-weight: 600;
    font-style: italic;
}

.font-bold {
    font-weight: 700;
}

.font-bold-italic {
    font-weight: 700;
    font-style: italic;
}

.font-extrabold {
    font-weight: 800;
}

.font-extrabold-italic {
    font-weight: 800;
    font-style: italic;
}

.font-black {
    font-weight: 900;
}

.font-black-italic {
    font-weight: 900;
    font-style: italic;
}

/* color */
.text-white-trans{
    color: rgba(255, 255, 255, 0.732);
}

.text-white-trans:hover a{
    color: rgba(255, 255, 255, 0.391);
}

.border-white-trans{
    border-color: rgba(230, 32, 32, 0.7);
}


/* custom */
.logo-size-1{
    width: 245px;
}

.place-holder-n{
    padding: 35.342px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Tùy chỉnh khoảng cách giữa dropdown và menu */
}

.bg-transparent-white {
    background-color: rgba(255, 255, 255, 0.898);
}


.card {
    width: 238px;
    overflow: hidden; 
}

.image-container {
    width: 100%;
     /* Kích thước chiều cao của div */
    border: 1px solid #ccc; /* Đường viền cho div */
    overflow: hidden; /* Ẩn phần dư thừa của ảnh khi nó vượt ra ngoài div */
}

.image-container img {
    width: 100%;
    display: block; 
}

.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.zoom {
    transition: transform 0.3s ease; /* Tạo hiệu ứng chuyển đổi mượt mà */ 
}
.card:hover .zoom {
    transform: scale(1.05); /* Phóng to hình ảnh lên 1.2 lần khi hover */  
}

ul {
    list-style-type: none; /* Đặt kiểu đánh số là số thập phân */
    padding: 0; /* Xóa padding mặc định của danh sách */
    margin: 0; /* Xóa margin mặc định của danh sách */

    
}
li {
    margin-bottom: 5px; /* Khoảng cách giữa các mục trong danh sách */
    padding-left: 10px;
}

.sidebar li:hover a {
    background-color: rgb(13, 110, 253);
    color: white;
}

.sidebar-border-right{
    
    border-right: 1px solid #0000002f;
    
}

li:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}


a {
    text-decoration: none; /* Bỏ gạch chân cho các liên kết */
}

.img-order{
    width: 550px;
}

